  <h1><%= @restaurant.name%></h1>
  <br>
  <p><strong>Category: </strong><%= @restaurant.category %></p>
  <p><strong>Address: </strong><%= @restaurant.address %></p>
  <p><strong>Number: </strong><%= @restaurant.phone_number%></p>
